.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    background-color: #ffe0ff;
    margin: 12px;
    color: #89004f;
    border-radius: 30px;
    box-shadow: 8px 8px 3px 0px rgba(0, 0, 0, 0.1);
}

.paragrafo {
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    margin-top: 1rem;
    background-color: transparent;
    color: #89004f;
}

.paragrafoOpen {
    height: 4em;
}
.topic{
    font-family: Monospace;
    font-size: 2em;
    border-bottom: 2px dashed #89004f;
    color: #89004f;
    background-color: transparent;
    cursor: pointer;
}
.smallContainer{
    padding: 2%;
}
.title{
    font-size: 3em;
    font-family: Apple Chancery, cursive;
}