.title {
    font-size: 3em;
}

.oDiv {
    display: flex;
    background-color: #ffe0ff;
    padding: 2%;
    border-radius: 30px;
    flex-wrap: wrap;
}

.gifDiv {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2%;
    background-color: transparent;
}

.topic {
    font-family: Monospace;
    font-size: 2em;
    border-bottom: 2px solid #89004f;
    color: #89004f;
    background-color: transparent;
    cursor: pointer;
}

.iDiv {
    width: 100%;
    background-color: transparent;
    color: #89004f;
    margin-bottom: 1%;
}

.bold {
    background-color: transparent;
    color: #c33b80;
}

.text {
    background-color: transparent;
    color: #89004f;
}

.movie {
    width: 100%;
    background-color: transparent;
    justify-content: center;
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    margin-top: 1rem;
    background-color: transparent;
    color: #89004f;
}

.contentOpen {
    height: 4rem;
}

.btn {
    padding: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
    background-color: transparent;
}

.button {
    background-color: #610139;
    padding: 10px 30px 10px 30px;
    border-radius: 6px;
}

.button:hover {
    background-color: #c33b80;
    font-weight: bold;
    transition: .2s ease;
}

.buttonEdit {
    color: black;
    background-color: #7c852ab0;
    padding: 10px 30px 10px 30px;
    border-radius: 6px;
}

.buttonEdit:hover {
    background-color: #e5ff00;
    font-weight: bold;
    transition: .2s ease;
}

.buttonCancel {
    background-color: #89000095;
    padding: 10px 30px 10px 30px;
    border-radius: 6px;
}

.buttonCancel:hover {
    background-color: #ff0000;
    font-weight: bold;
    transition: .5s ease;
}