.form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.divForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 7.1em;
}

.divFormLong{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 7.1em;
}

.divForm label {
    font-family: monospace;
    font-size: 2em;
    padding-left: 2%;
    padding-bottom: 1%;
}

.divForm label {
    font-family: monospace;
    font-size: 2em;
    padding-left: 2%;
    padding-bottom: 1%;
}

.divForm input{
    background-color: #ffe0ff;
    border-radius: 10px;
    color: #89004f;
    font-size: 1.2em;
    padding-bottom: 1em;
}


.divForm textarea{
    background-color: #ffe0ff;
    border-radius: 10px;
    color: #89004f;
    font-size: 1.2em;
    padding-bottom: 1em;
}

.btn {
    color: black;
    background-color: #7c852ab0;
    padding: 10px 30px 10px 30px;
    border-radius: 6px;
}
.btn:hover{
    background-color: #e5ff00;
    font-weight: bold;
    transition: .2s ease;
}



