.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.footer li {
  display: flex;
}
.link{
    text-decoration: none;
}